
# Logs
error_log
access-logs/
logs/

# Cache
.cache/
.cpan/
.cpcpan/
.cpobjcache/
.cphorde/
.trash/

# Composer
.composer/

# Node
node_modules/

# Vendor (optional)
vendor/

# Archives
*.zip
*.tar
*.tar.gz

# Git
.git/
.gitcredentials
.bash_history
.bash_history
.git-credentials
