.commonIcons{
	width: 50%;
}
.commonHeading{
	font-size: 40px;
	text-transform: capitalize !important;
}

/* common-banners */
.banner-inner h1 {
  font-size: 65px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;  
}
.icon-right{
	font-size: 32px;
    padding: 0px 15px;	
}
.breadcrumb-item a {
	color: #fff !important;
	font-size: 18px;
	font-weight: 600;
}
.breadcrumb-item a:hover{
	color: #BF3D28 !important;
}

.breadcrumb .breadcrumb-item.active {
	color: #BF3D28 !important;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}